language: python
matrix:
    include:
        - os: linux
          python: 2.7
          sudo: required

       # - os: osx
       #   language: generic
before_install:
  - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      brew update;
      brew install python;

      brew install homebrew/science/root;

      which root;
      which root;
      cat 'TRY IMPORT ROOT';
      python -c "import ROOT";

      virtualenv venv -p python2.7;
      source venv/bin/activate

      source $(brew --prefix root)/libexec/thisroot.sh;
      which root;
      which root;
      cat 'TRY IMPORT ROOT again';
      python -c "import ROOT";

      # to install libraries by its order, otherwise scikit-learn will be installed at first and failled.
      pip install pip -U;
      pip install -r requirements.txt;
      pip install rootpy
      pip install root_numpy;
    else
      source ci/install_repbase.sh;
      conda list;
    fi
  # printing DEBUG information
  - which python
  - echo $LD_LIBRARY_PATH
install:
  - pip install .
script:
  # listing everything in howto folder recursively
  - ls -alR ./howto/
  # setting flag: don't proceed if one of commands fails.
  - set -e
  - mkdir -p ./.cache/rep
  # testing all but notebooks
  - nosetests -v --detailed-errors --nocapture ./tests/test_*
  # reseting flag
  - set +e
notifications:
  email: true
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/4eb609958a03b4bc1df5
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: always    # options: [always|never|change] default: always
