numpy >= 1.9.0
scipy >= 0.14.0
ipython[all] == 3.0.0
pyzmq == 14.3.1
matplotlib == 1.3.1
openpyxl < 2.0.0
pandas == 0.14.0
requests >= 2.5.1
Jinja2 >= 2.7.3
numexpr >= 2.4
plotly == 1.2.3
scikit-learn == 0.16.1
bokeh == 0.8.1
mpld3 == 0.2
neurolab == 0.3.5
theanets == 0.5.2
pybrain == 0.3