numpy >= 1.10.0
scipy >= 0.16.0
matplotlib == 1.4.3
pandas == 0.17.0
scikit-learn == 0.16.1
ipython[all] == 4.0.0
pyzmq == 14.7.0
openpyxl < 2.0.0
requests[security] >= 2.5.1
Jinja2 >= 2.8
numexpr >= 2.4.4
plotly == 1.8.6
bokeh == 0.10.0
mpld3 == 0.2
neurolab == 0.3.5
theanets == 0.6.2
pybrain == 0.3